*{
  font-family: 'Roboto Slab', serif;
}
a[href^="#"] {
  transition: all 1.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

/* Scroll Bar */
/* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #18122B;
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #888;
}

/* color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: cyan;
}

#mainPage {
  display: none;
}
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loading::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  border-top: 2px solid cyan;
  border-radius: 50%;
  animation: loading 1s linear infinite backwards;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
body{
  background-color: #18122B;
  color: rgb(220, 220, 220);
  
}
#introduction{
  height: 40vh;
}
#aboutMe{
  height: 30vh;
}

#projects, #contactMe{
  height: 25vh;
}

#introduction p {
  font-size: 1.2rem;
}

/* Navigation */
#navigation{
  background-color: rgba(24, 18, 43, 0.9);


}

.navbar-nav .nav-item .nav-link{
  color: white;
  transition: all 0.4s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  animation: bottomShadow 0.4s forwards;
  color: cyan;
}

.navbar-nav .nav-item .nav-link.active{
  box-shadow: 0px 2px 0px 0px cyan;
  transition: all 0.4s ease-in-out;
}

@keyframes bottomShadow {
  from{
    box-shadow: none;
    width: 0;
  }
  to{
    box-shadow: 0px 2px 0px 0px cyan;
    width: 100%;
  }
}

.navbar {
  position: sticky;
  z-index: 1;
  top: 0;
}


.navbar-toggler {
  width: 20px;
  height: 20px;
  position:relative;
  transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span{
  margin:0;
  padding:0;
}
.toggler-icon{
  display:block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar{
  margin-top: 0px;
}

/* When navigation is clicked */
.navbar-toggler .top-bar{
  margin-top:0px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
  opacity:0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar{
  margin-top:-20px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
  margin-top:20px;
  transform: rotate(0deg);
}


/* Main */
.mainSection {
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease-out;
}

.mainSection.show {
  transform: translateY(0);
  opacity: 1;
}
/* Higlight */
.highlight {
  color: cyan;
  text-decoration: none;
  position: relative;
  transition: color 0.4s ease-in-out;
}

.highlight::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: cyan;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
}

.highlight:hover::before {
  transform: scaleX(1);
}



/* Title per section's '-' */
.headerSection{
  display: flex;
  align-items: center;
  gap: 20px;
}
.line{
  display: inline-block;
  width: 25%;
  height: 1px;
  background-color: grey;
}
/* Space between smol and big project */
#spcBtwProject{
  height: 10vh;
}

#aboutMeContainer .row .col-lg-8 p{
  font-size: 1.1rem;
}

/* Things I've Built */
.card{
  background-color: #393053;
  transition: all 0.3s;
}
.card:hover{
  transform: translateY(-10px);
}
.card-header{
  font-weight: bold;
}
.list-unstyled{
  opacity: 0.7;
}


/* About Me */
.wrapper {
  position: relative;
  width: 200px;
}
.onTop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.2);
  transition: all 0.3s;
}
.onTop:hover{
  background-color: rgba(0, 255, 255, 0);
}
.wrapper:hover::after{
  transform: translate(-5px, -5px);
}
.wrapper::after {
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid cyan;
  border-radius: 0.375rem;
  transition: transform 0.5s ease;
}
/* Contact Me */
#nameTyped{
  color: cyan;
}
.btns{
  color: cyan;
  padding: 0.8rem  2rem;
  border: 1px solid cyan;
  transition: all 0.4s ease-in;
}
.btns:hover{
  border: 1px solid cyan;
  background-color: rgba(0,255,255,0.2);
}




/* Asides */
aside{
  position: relative;
}
.asideContainer{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
}
/* #asideContainer a i {
  font-size: 24px;
} */
.asideContainer a{
  color: white;
  font-size: 24px;
  transition: all 0.3s;
}
.asideContainer a:hover{
  color: cyan;
  transform: translateY(-3px);
}
.asideContainer p {
  writing-mode: vertical-rl;
  transform: rotate(0deg);
}
.projectLinks a{
  color: white;
  display: inline-block;
  transition: all 0.3s;
}
.projectLinks a:hover {
  color: cyan;
  transform:translateY(-3px);
}

/* Media Queries */
@media (max-width:575px){
 
  .line{
    display: inline-block;
    width: 20%;
    height: 1px;

  }
    #introduction  h1{
        font-size:2.5rem;
    }
    #introduction p {
        font-size: 1rem;
    }
    .profileContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #aboutMeContainer{
      width: 100%!important;
    }
    #aboutMe{
      height: 15vh;
    }
   
    #introduction{
      margin-top:0!important;
    }
    /* project Design Test */
    .projectDescriptionContainer{
      padding: 10px!important;
    }
    
    
}

@media (min-width: 576px) {
    .navbar-nav {
        width: 100%;
        margin-top: 20px;
    }
    #introduction  h1{
        font-size: 3rem;
    }
    .profileContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
 
  }

@media (max-width:767px) {
  #projectContent{
    padding: 0;
    background-image: url('../img/miniProject1.png');
    background-size: cover;
    border:2px solid #443C68;
    border-radius: 10px;

  }
  .projectDescriptionContainer{
    padding: 20px;
    background-color: rgba(57, 48, 83, 0.8) ;
    border-radius: 10px;
    
  }

  .projectImage{
    display: none;
  }
}
@media (min-width: 768px) { 
    .navbar-nav {
        width: 80%;
        margin-top: 0px;
    }
    #introduction  h1{
        font-size: 4rem;
    }
    #introduction  p{
        width: 80%;
    }
    #contactMeContainer{
      width:80%;
      margin: auto;
    }
    /* Test Design(Projects) */
    .projectDescriptionContainer{
      z-index:2;
      position:absolute;
      width: 50%;
      right: 0;
    }
    .hideImage{
      position:absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0; 
      left: 0;
      background-color: rgba(99, 89, 133, 0.5);
      transition: all 0.3s;


    }
    .projectImage {
      position:relative;
      border: 1px solid rgb(57, 48, 83) ;
      width:70%;

    }

    .hideImage:hover{
      opacity: 0.2;
    }
    .projectDescription{
      background-color: #393053;
      box-shadow: 30px 30px 30px rgba(57, 48, 83, 0.2);
      padding: 20px;
    }
    #projectContent{
      position: relative;
    }
    

  
 }

@media (min-width: 992px) {
  .navbar-nav {
    width: 50%;
    margin-top: 0px;
}
    #introduction  p{
        width: 50%;
    }
    #contactMeContainer{
      width: 60%;
      margin: auto;
    }
    .profileContainer {
      float: right;
      margin-left: 20px; /* add some margin to separate the image from the text */
    }
 

}


@media (min-width: 1200px) { 
  #aboutMeContainer{
    width: 80%;
  }
 
}


@media (min-width: 1400px) { 

}